.heading {
  font-family: 'Roboto', sans-serif;
  color: #8C8C8C;
  height: 47px;
}
.panel_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.88rem;
  color: #8C8C8C;
  padding-bottom: 1rem;
}
@media (max-width: 567px) {
  .panel_text {
    font-size: 0.75rem;
  }
}
.a_hover {
  color: gray;
}
.a_hover:hover {
  text-decoration: none;
  color: #C7B299
}
.a_hover:hover .heading {
  color: #C7B299;
}

.a_hover:hover .hr-line {
  border-bottom: 3px solid #C7B299;
  width: 40%;
  margin: auto;
  margin-bottom: -3px;
}
.pic {
  height: 50px;
  color: blue;
}
.text-2 {
  width: 65%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: auto;
}
@media (max-width: 560px) {
  .text-2 {
    width: 90%;
    font-size: 0.75rem;
  }
}
.heading_2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}
.my-fluid {
  height: 100px;
  background-color: #221D1A;
}
.my-fluid .row {
  height: 100px;
}
.text1 {
  font-family: 'Raleway', sans-serif;
  font-size: calc(1.05rem + 0.6vw);
  color: #fff;
}
@media (min-width: 1200px) {
  .text1 {
    font-size: 1.5rem;
  }
}
.text1 span {
  color: #C7B299;
}
@media (max-width: 567px) {
  .text1 {
    font-size: 1rem;
  }
}
.text2 {
  font-family: 'Raleway', sans-serif;
  color: #615855;
}
@media (max-width: 567px) {
  .text2 {
    font-size: 0.8rem;
  }
}
.sub-btn {
  background-color: #998675;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
  border: 1px solid #998675;
  border-radius: 3px;
}
@media (max-width: 567px) {
  .sub-btn {
    font-size: 0.5rem;
  }
}
.sub-btn:hover {
  background-color: #fff;
  color: #998675;
}
.card .card-title {
  font-size: calc(1.02rem + 0.24vw);
  font-family: 'Raleway', sans-serif;
  color: #C7B299;
}
@media (min-width: 1200px) {
  .card .card-title {
    font-size: 1.2rem;
  }
}
.card .card-text {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  color: #D1D1D1;
}
.card:hover {
  background-color: #372F2D;
}
.card:hover img {
  background-color: gray;
  opacity: 0.5;
}
.card:hover .card-title {
  color: #fff;
}
.card:hover .card-text {
  color: #C7B299;
}
.custom-nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: #111111;
  border: 1px solid #C7B299;
  max-width: 110px;
  margin: 10px;
}
.custom-nav a:hover {
  background-color: #C7B299;
  color: #fff;
}
video {
  margin: 2rem 0;
}
.text-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
@media (max-width: 567px) {
  .text-3 {
    font-size: 0.75rem;
  }
}
.advant {
  list-style-type: none;
}
.advant img {
  margin-right: 5px;
  width: 1rem;
}
.brown {
  background-color: #271D1B;
  height: 300px;
}
@media (max-width: 567px) {
  .brown {
    height: 200px;
  }
}
.brown h5 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
@media (max-width: 567px) {
  .brown h5 {
    font-size: 0.8rem;
  }
}
.brown .notes {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  color: #C7B299;
}
@media (max-width: 567px) {
  .brown .notes {
    font-size: 0.6rem;
    height: 41px;
  }
}
@media (max-width: 567px) {
  .brown img {
    width: 25px;
    height: 25px;
  }
}
.brown .line {
  border-bottom: 2px solid #fff;
  width: 40%;
  margin: auto;
  margin-bottom: -2px;
}
.post-title {
  font-family: 'Raleway', sans-serif;
  font-size: calc(1.02rem + 0.24vw);
  color: #555;
}
@media (min-width: 1200px) {
  .post-title {
    font-size: 1.2rem;
  }
}
.post-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #8C8C8C;
}
.card-link {
  color: #C7B299;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.65rem;
}
.card:hover .post-title {
  color: #C7B299;
}
.card:hover .post-text {
  color: #fff;
}
.card:hover .card-link {
  color: #C7B299;
}
.logo-bg {
  height: 420px;
  background: url('../img/hill.jpg') gray no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}
@media (max-width: 991px) {
  .logo-bg {
    height: 360px;
  }
}
@media (max-width: 767px) {
  .logo-bg {
    height: 270px;
  }
}
@media (max-width: 566px) {
  .logo-bg {
    height: 150px;
  }
}
.bottom {
  height: 540px;
  background-color: #191919;
}
@media (max-width: 576px) {
  .bottom {
    height: 470px;
  }
}
.bottom .text-foot {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  color: #555;
}
.bottom .card-link {
  color: #fff;
}
.bottom .card-link:hover {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.bottom h4,
.bottom h5 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
.bottom h5 {
  font-weight: bold;
}
.bottom .date {
  color: #363636;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.65rem;
}
.bottom .recent-p,
.bottom .tweet {
  margin-top: 3%;
}
@media (max-width: 992px) {
  .bottom .recent-p,
  .bottom .tweet {
    margin-top: 2%;
  }
}
@media (max-width: 576px) {
  .bottom .logos {
    display: none;
  }
}
.bottom .last-div {
  margin-top: 11%;
}
@media (max-width: 992px) {
  .bottom .last-div {
    margin-top: 2%;
  }
}
@media (max-width: 576px) {
  .bottom .last-div {
    display: none;
  }
}
.last_row {
  height: 100px;
  background: #111;
}
.last_row p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  color: #565656;
}
.last_row p .a-light {
  color: #fff;
}
.last_row p a {
  text-decoration: none;
  color: #565656;
}
.last_row p a:hover {
  color: #C5B49A;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators li .active {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  background-color: #111;
}
.carousel-indicators .active {
  width: 11px;
  height: 11px;
  position: relative;
  bottom: -7.5px;
  background-color: #111;
  border: 2px solid #fff;
}
.carousel-caption {
  bottom: 32%;
}
.carousel-caption .slide-text1 {
  font-family: 'Raleway', sans-serif;
  font-size: calc(1.08rem + 0.96vw);
}
@media (min-width: 1200px) {
  .carousel-caption .slide-text1 {
    font-size: 1.8rem;
  }
}
.carousel-caption .slide-text2 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  max-width: 540px;
  margin: auto;
}
.carousel-caption h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.carousel-control-prev-icon {
  background-image: url('../img/left-control.png');
  height: 40px;
}
.carousel-control-next-icon {
  background-image: url('../img/right-control.png');
  height: 40px;
}
@media (max-width: 567px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
}
.header-row {
  position: absolute;
  top: 30px;
  z-index: 999;
  width: 100%;
}
@media (max-width: 567px) {
  .header-row {
    top: 0px;
  }
}
@media (min-width: 768px) {
  .header-row .col-12 {
    display: flex;
    justify-content: center;
  }
}
.header-row .navbar-collapse {
  background: #696969;
}
@media (min-width: 768px) {
  .header-row .navbar-collapse {
    background: none;
  }
}
.header-row .navbar {
  width: 100%;
}
.header-row .navbar button {
  margin-right: 12%;
}
@media (max-width: 656px) {
  .header-row .navbar button {
    margin-right: 19%;
  }
}
.header-row .navbar .nav-item-active {
  color: #C7B299;
  font-family: 'Raleway', sans-serif;
  font-size: 0.7rem;
}
@media (max-width: 767.98px) {
  .header-row .navbar .nav-item-active {
    padding-left: 80px;
    padding-bottom: 10px;
  }
}
.header-row .navbar .nav-item {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 0.7rem;
}
.header-row .navbar .nav-item:hover {
  border-bottom: 2px solid #fff;
  margin-bottom: -2px;
}
@media (max-width: 767.98px) {
  .header-row .navbar .nav-item {
    padding-left: 80px;
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .header-row .navbar-nav {
    margin: auto;
  }
}
.header-row .icons {
  height: 50px;
  position: absolute;
  right: 15px;
  top: 19px;
}
@media (max-width: 850px) {
  .header-row .clipb {
    display: none;
  }
}
@media (min-width: 992px) {
  .header-row .navbar-brand {
    position: relative;
    left: 16%;
  }
  .header-row .icons {
    margin-right: 5%;
  }
}
@media (min-width: 1200px) {
  .header-row .icons {
    margin-right: 10%;
  }
}
.nav-pills .nav-link.active {
  background-color: #C7B299;
}
.fade:not(.show) {
  display: none;
}
#carousel2 .carousel-indicators {
  margin-bottom: 0;
}
